<div class="container news">
	<% @newses.each do |news| %>
	<article class="media" style="margin-top: 2rem">
		<figure class="media-left">
			<p class="image is-128x128">
				<%= image_tag(news['urlToImage']) %>
			</p>
		</figure>
		<div class="media-content">
			<div class="content">
				<p>
					<strong>
						<%= link_to news['url'] do %>
						<%= news['title'] %>
						<% end %></strong>
					<br>
					<%= news['description'] %><br>

					<%= news['content'] %>
					<br>
					<%= news['publishedAt'] %><br>
					<%= news['author'] %><br>
				</p>
			</div>
			<nav class="level is-mobile">
				<div class="level-left">
					<a class="level-item">
						<%= link_to news['url'] do %>
						<span class="icon"><i class="fa fa-link" aria-hidden="ture"></i></span>
						<% end %>
					</a>
				</div>
			</nav>
		</div>
	</article>
	<% end %>
</div>