<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
    <div class="notigication is-primary global-notification">
      <div class="notice"><%= notice %></div>
    </div>
    <% end %>
    <% if flas[:alert] %>
    <div class="norigication is-danger global-norification">
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
